<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages': ['corechart']
  });

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Topping');
    data.addColumn('number', 'Slices');
    data.addRows([
      ['Mushrooms', 3],
      ['Onions', 1],
      ['Olives', 1],
      ['Zucchini', 1],
      ['Pepperoni', 2]
    ]);

    // Set chart options
    var options = {
      'title': 'How Much Pizza I Ate Last Night',
      'width': 400,
      'height': 300
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
<link rel="stylesheet" href="../static/twitter.css">
<div id="twitter_overview" class="col-md-5 card">
  <div class="row">
    <img id="twitter_photo" src="https://cdn.vox-cdn.com/thumbor/lANcyY-1-ojtaR1C5bp8gKXSRWo=/305x37:620x247/1310x873/cdn.vox-cdn.com/uploads/chorus_image/image/54012877/twitter_eggandgumdrop.0.jpg"
      class=" col-md-3 img-responsive">
    <h3 class="col-md-3 text-center name">{{username}}</h3>
  </div>
</div>
<div class="col-md-5 col-md-offset-2 card card-btm">
  <h3>{{username}}'s mood based on past 100 tweets:</h3>
  <div id="chart_div"></div>
</div>

<div class="col-md-5 card card-btm">
    <h3>Analysis of {{username}}'s recieved tweets</h3>
    <div id="chart2_div"></div>
  </div>

<div id="interaction_overview" class="col-md-5 col-md-offset-2 card card-btm">
  <div class="row">
    <img id="twitter_photo" src="https://cdn.vox-cdn.com/thumbor/lANcyY-1-ojtaR1C5bp8gKXSRWo=/305x37:620x247/1310x873/cdn.vox-cdn.com/uploads/chorus_image/image/54012877/twitter_eggandgumdrop.0.jpg"
      class=" col-md-2 img-responsive">
    <h3 class="col-md-3 text-center name">{{username}}</h3>
  </div>
  <div class="row">
    <img id="twitter_photo" src="https://cdn.vox-cdn.com/thumbor/lANcyY-1-ojtaR1C5bp8gKXSRWo=/305x37:620x247/1310x873/cdn.vox-cdn.com/uploads/chorus_image/image/54012877/twitter_eggandgumdrop.0.jpg"
      class=" col-md-2 img-responsive">
    <h3 class="col-md-3 text-center name">{{username}}</h3>
  </div>
  <div class="row">
    <img id="twitter_photo" src="https://cdn.vox-cdn.com/thumbor/lANcyY-1-ojtaR1C5bp8gKXSRWo=/305x37:620x247/1310x873/cdn.vox-cdn.com/uploads/chorus_image/image/54012877/twitter_eggandgumdrop.0.jpg"
      class=" col-md-2 img-responsive">
    <h3 class="col-md-3 text-center name">{{username}}</h3>
  </div>
  <div class="row">
    <img id="twitter_photo" src="https://cdn.vox-cdn.com/thumbor/lANcyY-1-ojtaR1C5bp8gKXSRWo=/305x37:620x247/1310x873/cdn.vox-cdn.com/uploads/chorus_image/image/54012877/twitter_eggandgumdrop.0.jpg"
      class=" col-md-2 img-responsive">
    <h3 class="col-md-3 text-center name">{{username}}</h3>
  </div>

</div>

