<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SafeSocial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://use.fontawesome.com/4d22a7c46d.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
{% include "navbar.html" %}
{% if not username %}
{% include "body.html" %}
{% else %}
{% include "twitter_overview.html" %}
{% endif %}

</html>
